{% extends 'foodle/index.html' %}
{% block content %}
<html>

<head>
  <title>foodle</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'foodle/css/foodle.css' %}" />
  <script src="{% static 'foodle/js/foodle.js' %}"></script>
</head>

<body>
  <h1 id="title">Foodle</h1>
  <hr />
  <br />
  <div id="board"></div>
  <p id="points">Points: 0</p>
  <!-- Add this line for displaying points -->
  <button id = "submit_score">Submit and Return</button>
  <h1 id="answer" style="visibility: hidden;"> FILLER </h1>
  <form id="score_form" style="display: none;" action="" method="POST">
    <input type="hidden" id="score_field" value="0" required name="score">
  </form>
</body>

</html>
{% endblock content %}