<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.recipe_title }}</title>
</head>
<nav>
    <div>
        <div style="text-align: left;">
            <a href="{% url 'recipes:view_all_recipes' %}">Back</a>
        </div>
    </div>
</nav>
<body>
    <h1>{{ recipe.recipe_title }}</h1>
    <p>Preparation: {{ recipe.preparation }}</p>
    <p>Prep Time: {{ recipe.prep_time }}</p>
    <p>Serves: {{ recipe.serves_num }}</p>
    <p>User ID: {{ recipe.user_id }}</p>
    <p>Ingredients: {{ recipe.recipe_ingredients }}</p>
   
</body>
</html>