<html>
  <head>
    <title>foodle</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'foodle/css/foodle.css' %}"
    />
    <script src="{% static 'foodle/js/foodle.js' %}"></script>
  </head>

  <body>
    <h1 id="title">Foodle</h1>
    <hr />
    <br />
    <div id="board"></div>
    <p id="points">Points: 0</p>
    <!-- Add this line for displaying points -->
    <br />
    <h1 id="answer"></h1>
  </body>
</html>
